@font-face {
    font-family: dotmatrix;
    src: url(../assets/font/DOTMATRI.TTF);
}

@font-face {
    font-family: manrope;
    src: url(../assets/font/Manrope-VariableFont_wght.ttf);
}

.main {
    align-self: center;
    width: 48px;
    height: 48px;
}

.headertext {
    font-family: dotmatrix, serif;
    color: white !important;
    align-self: center;
}


.burger {
    align-self: center;
    width: 40px;
    height: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px grey;
}

body {
    background-color: black;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
}

.maintext1 {
    margin-top: 350px;
    width: 397px;
    font-family: manrope, serif;

    color: white;
    font-size: 48px;
}

.maintext2 {
    margin-top: -50px;
    width: 397px;

    font-family: manrope, serif;
    color: rgb(165, 165, 165);
    font-size: 48px;
}

.frame {
    position: relative;
    left: 1051px;
    top: -500px;
}

.t1, .t2, .t3 {
    padding: 3px;
    border-radius: 30px;
    display: inline;
    position: relative;
    top: -450px;
    border: solid 1px #9A9898;
    color: #9A9898 !important;
    font-family: manrope, serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
}

.t1 {
    left: -25%;
    padding-block: 10px;
    padding-inline: 24px;
}

.t2 {
    left: -52.7%;
    top: -390px;
    padding-block: 10px;
    padding-inline: 24px;
}

.t3 {
    left: -1035px;
    top: -330px;
    padding-block: 10px;
    padding-inline: 24px;
}

.iPhone, .Char {
    color: white;
    font-family: manrope, serif;
}

.iPhone {
    font-size: 32px;
    line-height: 120%;
    font-weight: 600;
}

.Char {
    margin-top: -25px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.textBox3 { 
    position: relative;
    left: 1051px;
    top: -520px;
    width: 397px;
    color: #9A9898 !important;
    font-family: manrope, serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
    
}

.Buy {
    background-color: yellow;
    border-radius: 30px;
    padding-block: 10px;
    padding-inline: 24px;
    align-self: center;
    display: inline;
    color: #000;
}